.about__achivements{
      margin-top: 3rem;

}
.about__achivements-container{
      display: grid;
      grid-template-columns: 40% 60%;
      gap: 5rem; 
}
.about__achivements-right > p {
      margin: 1.6rem  0  2.5rem;

} 
 .achivements__cards{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;
 }
.achivement__card{
      background: slateblue;
      padding: 1.6rem;
      border-radius: 1rem;
      text-align: center;
}